body{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  /* Hide scroll-bar for WebKit browsers (Chrome, Safari, Edge) */
  display: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}